* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0e161f;
}

body {
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: #0e161f;
}

.content-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0e161f;
  display: none;
  bottom: 0;
}

.content-section {
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-top-grad {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(14, 22, 31, 0), #0e161f);
}

.header-content-container {
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 760px;
}

@media only screen and (max-width: 480px) {
  .header-content-container {
    margin-bottom: 100px;
  }

  .content-scroll-container {
    width: 80%;
    left: 10%;
  }
}
.content-scroll-container {
  position: absolute;
  width: 60%;
  height: auto;
  top: 710px;
  left: 20%;
  z-index: 2;
}

.content-scroll-item {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.containerXYZ {
  position: absolute !important;
  bottom: 0px;
}

@media only screen and (max-height: 480px) {
  .content-scroll-item {
    margin-top: -20vh;
  }
}
@media only screen and (max-height: 480px) and (min-width: 768px) {
  .content-scroll-item {
    margin-top: -330px;
  }
}
.content-scroll-item-icon {
  width: 80px;
  height: 80px;
  opacity: 0;
}

.content-scroll-item-headline {
  opacity: 0;
}

.content-scroll-item-body {
  margin: 30px 0 70px 0;
  text-align: center;
  opacity: 0;
}

.content-scroll-span {
  padding-bottom: 10px;
}

.content-scroll-prev-arrow {
  width: 50px;
  height: 50px;
  position: relative;
  left: 20%;
  top: -10px;
  cursor: pointer;
}

.content-scroll-next-arrow {
  width: 50px;
  height: 50px;
  position: relative;
  left: calc(80% - 25px);
  top: -60px;
  cursor: pointer;
}

@media only screen and (max-height: 550px) {
  .content-containerX {
    height: calc(1000px + 100vh);
  }

  .content-scroll-container {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (max-height: 500px) {
  .content-containerX {
    height: calc(1200px + 100vh);
  }

  .content-scroll-container {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (max-height: 300px) {
  .content-containerX {
    height: calc(1500px + 100vh);
  }

  .content-scroll-container {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (max-height: 480px) {
  .content-containerX {
    height: 100%;
    height: 330% !important;
  }
}
@media only screen and (max-height: 480px) and (min-width: 768px) {
  .content-containerX {
    height: 100%;
    height: 340% !important;
  }
}
@media only screen and (max-width: 480px) {
  .content-scroll-prev-arrow {
    top: 50px;
  }

  .content-scroll-next-arrow {
    left: calc(80% - 50px);
    top: 1px;
  }

  .content-containerX {
    min-height: calc(800px + 100vh);
  }

  .content-scroll-container {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-width: 500px) {
  .content-containerX {
    height: calc(550px + 100vh);
  }

  .content-scroll-container {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-width: 600px) {
  .content-containerX {
    height: calc(800px + 100vh);
  }
}
@media only screen and (min-width: 768px) {
  .content-scroll-container {
    top: 1050px;
  }

  .content-containerX {
    height: calc(920px + 100vh);
  }

  .content-scroll-container {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-width: 800px) {
  .content-containerX {
    height: calc(920px + 100vh);
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .content-containerX {
    height: 100vh;
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 1280px) {
  .content-containerX {
    height: calc(800px + 100vh);
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 1440px) {
  .content-containerX {
    height: calc(900px + 100vh);
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 1600px) {
  .content-containerX {
    height: calc(700px + 100vh);
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 1680px) {
  .content-containerX {
    height: calc(700px + 100vh);
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 1920px) {
  .content-containerX {
    height: calc(700px + 100vh);
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 2160px) {
  .content-containerX {
    height: calc(600px + 100vh);
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 2880px) {
  .content-containerX {
    height: 80vh;
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 7000px) {
  .content-containerX {
    height: 100px;
  }

  .content-scroll-container {
    width: 60%;
    left: 20%;
  }
}
.slide-scroll-component {
  position: absolute;
  margin-top: 0px;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
  margin-top: -80px;
}

.slide-scroll-items-container {
  width: 100%;
  height: 90%;
  opacity: 1;
  align-self: center;
  left: 50%;
}

.slide-scroll-item {
  max-width: 256px;
  max-height: 192px;
  border-radius: 5px;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
}

.slide-scroll-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 256px;
  max-height: 192px;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  border-radius: 3%;
  cursor: pointer;
}

.slide-shadow {
  -webkit-box-shadow: 0px 5px 25px 10px #0e161f;
  -moz-box-shadow: 0px 5px 25px 10px #0e161f;
  box-shadow: 0px 5px 25px 10px #0e161f;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@media only screen and (max-width: 320px) {
  .slide-scroll-component {
    margin-top: -100px;
  }
}
@media only screen and (min-width: 500px) {
  .slide-scroll-component {
    margin-top: 0px;
    height: 800px;
  }
}
@media only screen and (max-height: 480px) {
  .slide-scroll-item {
    max-width: 220px !important;
  }

  .slide-scroll-img {
    max-width: 220px !important;
  }
}
@media only screen and (min-width: 600px) {
  .slide-scroll-item {
    max-width: 320px;
    max-height: 360px;
  }

  .slide-scroll-img {
    max-width: 320px;
    max-height: 360px;
  }

  .slide-scroll-component {
    margin-top: 0px;
    height: 850px;
  }
}
@media only screen and (min-width: 768px) {
  .slide-scroll-item {
    max-width: 480px;
    max-height: 360px;
  }

  .slide-scroll-img {
    max-width: 480px;
    max-height: 360px;
  }

  .slide-scroll-component {
    margin-top: 50px;
    height: 1000px;
  }
}
@media only screen and (max-height: 480px) {
  .slide-scroll-component {
    height: 190vh;
  }
}
@media only screen and (max-height: 400px) {
  .slide-scroll-component {
    height: 200vh;
  }
}
@media only screen and (max-height: 320px) {
  .slide-scroll-component {
    height: 230vh;
  }
}
.slide-scroll-controls-container {
  width: 300px;
  height: 90px;
  position: relative;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: -450px;
}

@media only screen and (max-height: 480px) {
  .slide-scroll-controls-container {
    margin-top: -450px;
  }
}
@media only screen and (max-height: 480px) and (min-width: 768px) {
  .slide-scroll-controls-container {
    margin-top: -550px;
  }
}
@media only screen and (max-height: 420px) and (min-width: 768px) {
  .slide-scroll-controls-container {
    margin-top: -430px;
  }
}
@media only screen and (max-width: 480px) {
  .slide-scroll-controls-container {
    margin-top: 240px;
  }
}
.side-scroll-controls-bar {
  width: 275px;
  height: 1px;
  background-color: #617b99;
  position: absolute;
  top: 16px;
  left: 10px;
  z-index: 0;
}

.slide-scroll-control-item {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
}

.side-scroll-controls-item-outer {
  width: 17px;
  height: 17px;
  background-color: #617b99;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
}

.side-scroll-controls-item-inner {
  width: 11px;
  height: 11px;
  background-color: red;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
}

.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.content-bg-imgs-container {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent, black 10%, transparent 100%);
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1;
  mix-blend-mode: overlay;
  position: relative;
  bottom: -25%;
}

.content-bg-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
}

@font-face {
  font-family: Neutra;
  src: url("../fonts/neutra/NeutraText-Book.otf");
}
.foreground-div {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.ui-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  pointer-events: none;
}

.ui-logo {
  position: absolute;
  width: 100%;
}

.ui-logo-m {
  position: absolute;
  width: 100%;
}

@media only screen and (max-height: 480px) {
  .ui-logo-container {
    width: 90px !important;
    height: 124px !important;
    left: calc(0vw + 17.5px) !important;
  }
}
.ui-nav {
  width: auto;
  height: 40px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
  position: fixed;
  left: calc(50% - 159px);
  margin: 0 auto;
}

.ui-nav-item {
  font-family: "Neutra", sans-serif;
  font-weight: 400;
  color: white;
  display: inline-block;
  margin-right: 30px;
  font-size: 13px;
  pointer-events: all;
}

.ui-nav-item-m {
  font-family: "Neutra", sans-serif;
  font-weight: 400;
  color: white;
  display: inline-block;
  margin-right: 30px;
  font-size: 11px;
  pointer-events: all;
}

.ui-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  pointer-events: none;
}

.ui-top-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  opacity: 0;
  pointer-events: all;
}

.ui-cta-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}

.ui-cta-inner-container {
  width: 300px;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: all;
}

.ui-cta-button {
  width: 150px;
  height: 50px;
  background-color: black;
  opacity: 0;
  cursor: pointer;
  pointer-events: all;
}

.ui-cta-message {
  width: 300px;
  height: auto;
  color: white;
  font-family: "Neutra", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;
}

.ui-cta-lopading-message {
  width: 300px;
  height: auto;
  color: white;
  font-size: 18px;
  font-family: "Neutra", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
}

.ui-enter-button-text {
  margin-top: 10px;
  width: 150px;
  height: 60px;
  font-family: "Neutra", sans-serif;
  text-align: center;
  color: white;
  font-size: 22px;
  pointer-events: none;
}

.ui-logo-container {
  position: relative;
  padding-top: 15px;
  width: 90px !important;
  height: 124px !important;
  pointer-events: none;
  left: calc(0vw + 25px);
}

.weba-logo-container {
  position: absolute;
  top: 40px;
  width: 100px;
  pointer-events: none;
  left: calc(100vw - 190px);
}

.ui-genesis-container {
  display: none;
  width: 100px;
  height: 30px;
  right: 42px;
  top: 45px;
  position: absolute;
}

.ui-genesis-img {
  width: 100px;
  height: 30px;
  position: absolute;
}

.ui-audio-toggle-container {
  width: 19px;
  height: 16px;
  position: absolute;
  top: 15px;
  right: 15px;
  pointer-events: auto;
  cursor: pointer;
}

.ui-audio-icon {
  width: 19px;
  height: 16px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.ui-alpha {
  position: absolute;
  top: 16px;
  right: 288px;
  padding-top: 2px;
  width: 30px;
  height: 10px;
  background-color: rgba(129, 27, 239, 0.4);
}

.ui-alpha-m {
  position: absolute;
  top: 16px;
  padding-top: 2px;
  right: 262px;
  width: 25px;
  height: 10px;
  background-color: rgba(129, 27, 239, 0.4);
}

.ui-alpha-text {
  font-family: "Neutra", sans-serif;
  text-align: center;
  color: white;
  font-size: 6px;
}

.ui-loadbar-cont {
  width: 100px;
  height: 1px;
  background-color: rgba(129, 27, 239, 0.4);
}

.ui-load-bar {
  width: 4px;
  height: 1px;
  background-color: white;
}

#qrform {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  display: none;
}

#qrform.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  z-index: 106;
  display: block;
}

#qrform input[type=text] {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -51px;
  width: 60%;
  margin-left: 20%;
  color: white;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  outline: none;
  padding: 10px;
}

#qrform .close {
  position: fixed;
  top: 15px;
  right: 15px;
  opacity: 1;
  font-size: 27px;
  color: #fff;
}

#qrform .close:hover {
  color: #FC2121;
  cursor: pointer;
}

@font-face {
  font-family: Neutra;
  src: url("../fonts/neutra/NeutraText-Book.otf");
}
@font-face {
  font-family: NeutraBold;
  src: url("../fonts/neutra/NeutraText-Bold.otf");
}
.header-text {
  font-weight: normal;
  color: white;
  font-family: "Bowlby One SC", cursive;
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.mmo-logo {
  width: 10rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .mmo-logo {
    width: 10rem;
    margin-bottom: 0.3rem;
  }
}
@media only screen and (min-width: 768px) {
  .mmo-logo {
    width: 15rem;
    margin-bottom: 0.5rem;
  }
}
.subheader-text {
  font-weight: normal;
  color: white;
  font-family: "Bowlby One SC", cursive;
  font-size: 2rem;
}

@media only screen and (max-height: 480px) {
  .subheader-text {
    font-size: 1.5rem !important;
  }
}
.body-text {
  color: white;
  font-family: "Neutra", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.intro-header-text {
  margin-bottom: 1rem;
  margin: 0 auto;
}

@media only screen and (max-height: 480px) {
  .subheader-text {
    font-size: 1.5rem !important;
  }

  .body-text {
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
  }

  .intro-header-text {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
}
.intro-sub-text {
  margin-bottom: 0.7rem;
  color: #ff35d7;
  margin: 0 auto;
}

.intro-body-text {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .intro-body-text {
    width: 100%;
  }
}
.content-scroll-item-headline-text {
  padding-top: 30px;
}

@media only screen and (min-width: 640px) {
  .header-text {
    font-size: 3rem;
    line-height: 3rem;
  }

  .subheader-text {
    font-family: "Bowlby One SC", cursive;
    font-size: 2rem;
  }

  .body-text {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .intro-sub-text {
    margin-bottom: 0.5rem;
  }

  .intro-header-text {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .header-text {
    font-size: 2rem;
    line-height: 4rem;
  }

  .subheader-text {
    font-family: "Bowlby One SC", cursive;
    font-size: 2rem;
  }

  .body-text {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .intro-sub-text {
    margin-bottom: 1rem;
  }

  .intro-header-text {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 2000px) {
  .body-text {
    max-width: 50vw;
  }
}
@media only screen and (min-width: 3000px) {
  .body-text {
    max-width: 30vw;
  }
}
@media only screen and (min-width: 7000px) {
  .body-text {
    max-width: 20vw;
  }
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
}

.nav-items-container {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  /* min-width: 50%;
  max-width: 0%; */
}

.nav-item {
  text-align: center;
  color: #fff;
  font-family: "NeutraBold", sans-serif;
  font-size: 0.8rem;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.nav-alpha {
  text-align: center;
  font-family: "Neutra", sans-serif;
  font-size: 0.5rem;
  padding: 3px 3px 0px 3px;
  line-height: 0.8rem;
  background-color: rgba(129, 27, 239, 0.6);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.nav-a-1:hover {
  color: #1dff72;
}

a.nav-a-2:hover {
  color: #1ccaff;
}

a.nav-a-3:hover {
  color: #3b2fe9;
}

a.nav-a-4:hover {
  color: #9914f1;
}

a.nav-a-5:hover {
  color: #ff00fb;
}

@media only screen and (min-width: 640px) {
  .nav-items-container {
    width: 60%;
  }

  /* .nav-item {
      font-size: 1.1rem;
  }

  .nav-alpha {
      font-size: 0.6rem;
      padding: 4px 6px 1px 6px;
  } */
}
@media only screen and (min-width: 768px) {
  .nav-items-container {
    width: 50%;
  }

  .nav-item {
    font-size: 1rem;
  }

  .nav-alpha {
    font-size: 0.7rem;
    padding: 4px 4px 1px 4px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-items-container {
    width: 30%;
  }

  .nav-item {
    font-size: 1.1rem;
  }

  .nav-alpha {
    font-size: 0.6rem;
    padding: 4px 6px 1px 6px;
  }
}
.nav-grad {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  background-image: linear-gradient(to bottom, rgba(14, 22, 31, 0) 20%, #0e161f 90%);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
