.content-bg-imgs-container {
    -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1.0) 10%, rgba(0, 0, 0, 1.0) 80%, transparent 100% );
    mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1.0) 10%, transparent 100% );
    // position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;

    //background-color: rgba( 255, 0, 0, 0.2 );
    display: none;
    // margin-top: -200px;
    z-index: 1;
    // padding-bottom: 370px;
    mix-blend-mode: overlay;

    position: relative;
    bottom:-25%;
}

.content-bg-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    opacity: 0;
    
    //background-color: #ffffff;


}

@media only screen and (min-width: 600px) {
    .content-bg-imgs-container {
        //margin-top: -200px;
    }  
}

@media only screen and (min-width: 768px) {
    .content-bg-imgs-container {
        //margin-top: -0px;
    }
}

// @media only screen and (min-width: 1600px) {

//     .content-bg-imgs-container {
//         bottom: 100px;
//     }

// }

// @media only screen and (min-width: 1680px) {

//     .content-container {
//         height: calc( 500px + 100vh );  
//     }

// }

// @media only screen and (min-width: 1920px) {

//     .content-container {
//         height: calc( 400px + 100vh );  
//     }

// }

// @media only screen and (min-width: 2160px) {

//     .content-container {
//         height: calc( 80vh );  
//     }

// }

// @media only screen and (min-width: 7000px) {

//     .content-container {
//         height: calc( 40vh );  
//     }

// }