.nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
}

.nav-items-container {
    width: 70%;
    height: auto;
    //background-color: rgba( 255, 0, 0, 0.2 );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    /* min-width: 50%;
    max-width: 0%; */

}

.nav-item {
    text-align: center;
    color: #fff;
    font-family: 'NeutraBold', sans-serif;
    font-size: 0.8rem;
}

a {
    color: #fff;
    //font-family: 'Neutra', sans-serif;
    //font-weight: 900;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.nav-alpha {
    text-align: center;
    font-family: 'Neutra', sans-serif;
    font-size: 0.5rem;
    padding: 3px 3px 0px 3px;
    line-height: 0.8rem;
    background-color: rgba( 129, 27, 239, 0.6 );
}

.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          
}

a.nav-a-1:hover {
    color:#1dff72;
    //transition: color 0.2s ease-out;
}
a.nav-a-2:hover {
    color:#1ccaff;
    //transition: color 0.6s ease-out;

}
a.nav-a-3:hover {
    color:#3b2fe9;
    //transition: color 0.6s ease-out;

}
a.nav-a-4:hover {
    color:#9914f1;
    //transition: color 0.6s ease-out;

}
a.nav-a-5:hover {
    color:#ff00fb;
    //transition: color 0.6s ease-out;

}



@media only screen and (min-width: 640px) {

    .nav-items-container {
        width: 60%;
    }

    /* .nav-item {
        font-size: 1.1rem;
    }
    
    .nav-alpha {
        font-size: 0.6rem;
        padding: 4px 6px 1px 6px;
    } */
}

@media only screen and (min-width: 768px) {
    
    .nav-items-container {
        width: 50%;
    }

    .nav-item {
        font-size: 1rem;
    }
    
    .nav-alpha {
        font-size: 0.7rem;
        padding: 4px 4px 1px 4px;
    }

}

@media only screen and (min-width: 1200px) {
    
    .nav-items-container {
        width: 30%;
    }

    .nav-item {
        font-size: 1.1rem;
    }
    
    .nav-alpha {
        font-size: 0.6rem;
        padding: 4px 6px 1px 6px;
    }
}

.nav-grad {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    //background-color: red;
    background-image: linear-gradient(to bottom, rgba(14,22,31,0) 20%, rgba(14,22,31,1) 90%);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}