@font-face {
    font-family: Neutra;
    src: url('../fonts/neutra/NeutraText-Book.otf');
}

.foreground-div {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.ui-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    pointer-events: none;
}

.ui-logo {
    position: absolute;
    width: 100%;
    // height: 30px;
}

.ui-logo-m {
    position: absolute;
    width: 100%;
    // height: 30px;
    // margin: 0 auto;
    // right: 50%;
}

@media only screen and (max-height: 480px) {
    .ui-logo-container {
        width: 90px !important;
        height: 124px !important;
        left: calc( 0vw + 17.5px) !important;
    }
}

.ui-nav {
    width: auto;
    height: 40px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    position: fixed;
    left: calc( 50% - 159px);
    margin: 0 auto;
}

.ui-nav-item {
    font-family: 'Neutra', sans-serif;
    font-weight: 400;
    color: white;
    display: inline-block;
    margin-right: 30px;
    font-size: 13px;
    pointer-events: all;
}

.ui-nav-item-m {
    font-family: 'Neutra', sans-serif;
    font-weight: 400;
    color: white;
    display: inline-block;
    margin-right: 30px;
    font-size: 11px;
    pointer-events: all;
}

.ui-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    pointer-events: none;
}

.ui-top-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    opacity: 0;
    pointer-events: all;
}

.ui-cta-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
}

.ui-cta-inner-container {
    width: 300px;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    pointer-events: all;
}

.ui-cta-button {
    width: 150px;
    height: 50px;
    background-color: black;
    opacity: 0;
    cursor: pointer;
    pointer-events: all;
}

.ui-cta-message {
    width: 300px;
    height: auto;
    color: white;
    font-family: 'Neutra', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
}

.ui-cta-lopading-message {
    width: 300px;
    height: auto;
    color: white;
    font-size: 18px;
    font-family: 'Neutra', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
}

.ui-enter-button-text {
    margin-top: 10px;
    width: 150px;
    height: 60px;
    font-family: 'Neutra', sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
    pointer-events: none;
}

.ui-logo-container {
    position: relative;
    padding-top: 15px;
    width: 90px !important;
    height: 124px !important;
    // padding-left: 15px;
    // width: 100px;
    // height: 80px;
    pointer-events: none;
    left: calc( 0vw + 25px);
}

.weba-logo-container {
    position: absolute;
    top: 40px;
    // padding-left: 15px;
    width: 100px;
    // height: 80px;
    pointer-events: none;
    left: calc( 100vw - 190px);
}

.ui-genesis-container {
    display: none;
    width: 100px;
    height: 30px;
    right: 42px;
    top: 45px;
    position: absolute;
}

.ui-genesis-img {
    width: 100px;
    height: 30px;
    position: absolute;
}

.ui-audio-toggle-container {
    width: 19px;
    height: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    pointer-events: auto;
    cursor: pointer;
}

.ui-audio-icon {
    width: 19px;
    height: 16px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.ui-alpha {
    position: absolute;
    top: 16px;
    right: 288px;
    padding-top: 2px;
    width: 30px;
    height: 10px;
    background-color: rgba( 129, 27, 239, 0.4);
}

.ui-alpha-m {
    position: absolute;
    top: 16px;
    padding-top: 2px;
    right: 262px;
    width: 25px;
    height: 10px;
    background-color: rgba( 129, 27, 239, 0.4);
}

.ui-alpha-text {
    font-family: 'Neutra', sans-serif;
    text-align: center;
    color: white;
    font-size: 6px;
}

.ui-loadbar-cont {
    width: 100px;
    height: 1px;
    background-color: rgba( 129, 27, 239, 0.4);
}

.ui-load-bar {
    width: 4px;
    height: 1px;
    background-color: white;
}

.ui-terrain-asset-tooltip-ot {
    width: 230px;
    height: 100px;
    background-color: rgba( 255, 0, 255, 0.0 );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999998;
    opacity: 1.0;
    display: none;
}

.ui-terrain-asset-tooltip-sf {
    width: 230px;
    height: 100px;
    background-color: rgba( 129, 27, 239, 0.0 );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    opacity: 1.0;
    display: none;

}

.ui-tooltip-circ-ot {
    position: absolute;
    top: 0px;
    left: 125px;
    width: auto;
    height: auto;
}

.ui-tooltip-text-ot {
    position: absolute;
    top: 30px;
    left: 0;
    width: auto;
    height: auto;
}

.ui-tooltip-circ-sf {
    position: absolute;
    top: 0px;
    right: 95px;
    width: auto;
    height: auto;
}

.ui-tooltip-text-sf {
    position: absolute;
    top: 30px;
    left: 0;
    width: auto;
    height: auto;
}

#qrform {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	     -moz-transform: translate(0px, -100%) scale(0, 0);
	      -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
	          transform: translate(0px, -100%) scale(0, 0);    
    opacity: 0;
    display: none;
}

#qrform.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
    	  -ms-transform: translate(0px, 0px) scale(1, 1);
	       -o-transform: translate(0px, 0px) scale(1, 1);
	           transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 106;
    display: block;
}

#qrform input[type="text"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
  	background: transparent;
  	border-top: 1px solid rgba(255, 255, 255, .8);
  	border-bottom: 2px solid rgba(255, 255, 255, .5);
  	border-left: 0px solid transparent;
  	border-right: 0px solid transparent;
    font-size: 40px;
  	font-family: Roboto;
    font-weight: 300;
    text-align: center;
    outline: none;
  	padding: 10px;
}
  
#qrform .close {
    position: fixed;
    top: 15px;
    right: 15px;
	  opacity: 1;
	  font-size: 27px;
  	color: #fff;
}

#qrform .close:hover{
  color: #FC2121;
  cursor: pointer;
}

